
body{
  /* display: flex;
  justify-content: center;
  align-items: center; */
  padding: 0;
  margin: 0;
  list-style: none;
}
header{
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ffb92a;
  width: 750px;
}
header div{
  margin: 62px 0 21px 0;
}
h1{
  margin: 0;
}
#back{
  background: url(./back.gif) no-repeat;
  background-size:100% 100%;
  margin-left: 31px;
  width: 20px;
  height: 34px;
}
#title{
  margin-left: 256px;
  font-size:  17.28px;
  font-weight: bold;
  font-family: PingFangSC-Semibold, sans-serif;
}
#set{
  background: url(./set.gif) no-repeat;
  background-size:100% 100%;
  margin: 44px 29px 4px 69px;
  width: 202px;
  height: 65px;
}